<!-- about section -->
<div id="about" class="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-lg-7">
                <div class="about_box">
                    <div class="titlepage">
                        <h2><strong class="yellow">About US</strong><br> WE CAN HELP YOUR business GROW</h2>
                    </div>
                    <h3>EVERYTHING YOU NEED IN ONE SOLUTION</h3>
                    <span>HELP YOUR NEXT CAREER MOVE MORE SMOOTHER AND <br> MORE EFFICIENT</span>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of usingt</p>
                    <span class="try">TRY ONLINE CV BUILDER FOR Free</span>
                    <a class="read_morea" href="#">Get Started <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="col-md-12 col-lg-5">
                <div class="about_img">
                    <figure><img src="{{ asset('sites/default/assets/images/about_img2.jpg') }}" alt="#" /></figure>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about section -->