<!-- banner -->
<section class="banner_main">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-lg-7">
                <div class="text-bg">
                    <h1>Trusted and <br>Professional Advisers</h1>
                    <span>for your Business</span>
                    <p>Showcase your Profile to the world using online CV builder and Get Hired Faster</p>
                </div>
            </div>
            <div class="col-md-5 col-lg-5">
                <div class="ban_img">
                    <figure><img src="{{ asset('sites/default/assets/images/ba_ing.png') }}" alt="#" /></figure>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end banner -->