<!-- business  section -->
<div class="business">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="titlepage">
                    <h2><strong class="yellow">CREATE</strong><br>PERSONALISED Business</h2>
                    <p>ss normal distribution of letters, as opposed to using </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div id="ho_color" class="business_box">
                    <i><img src="{{ asset('sites/default/assets/images/business_icon1.png') }}" alt="#" /></i>
                    <h3>23</h3>
                    <p>NOMINATIONS </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div id="ho_color" class="business_box">
                    <i><img src="{{ asset('sites/default/assets/images/business_icon2.png') }}" alt="#" /></i>
                    <h3>31</h3>
                    <p>AGENCIES</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div id="ho_color" class="business_box">
                    <i><img src="{{ asset('sites/default/assets/images/business_icon3.png') }}" alt="#" /></i>
                    <h3>7</h3>
                    <p>AWARDS</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div id="ho_color" class="business_box">
                    <i><img src="{{ asset('sites/default/assets/images/business_icon4.png') }}" alt="#" /></i>
                    <h3>8</h3>
                    <p>Supported </p>
                </div>
            </div>
            <div class="col-md-12">
                <a class="read_more" href="#">Read More</a>
            </div>
        </div>
    </div>
</div>
<!-- end business  section -->