{% extends 'site/layouts/default.html.twig' %}

{% block title %} Welcome !{% endblock %}
{% block body %}
    <main role="main" class="container">
        <div id="app">
            <app></app>
        </div>
    </main>
{% endblock %}
